body {
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 18px;
  background-color: #ddd;
  overflow-x: hidden; /* This hides horizontal scroll */
}



.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 10px 5%;
}

.logo {
  text-align: center;
}

.logo a {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
}

.menu-items {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.menu-item {
  margin-right: 20px;
}

.menu-item:last-child {
  margin-right: 0;
}

.menu-item a {
  color: #fff;
  text-decoration: none;
}

.buttons {
  display: flex;
  align-items: center;
}

.button {
  padding: 10px 20px;
  border: 1px solid;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.btn-login{
  background-color: red;
  border-color: red;
}

.btn-reg{
  margin-left: 20px;
  background-color: transparent;
  color: red;
  border-color: red;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .menu-items {
    display: none;
  }

  .button {
    display: none;
  }

  .logo {
    order: 2;
    flex-grow: 1;
  }

  /* .menu-items.mobile {
    display: block;
    background-color: #333;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .menu-items.mobile li {
    margin-bottom: 10px;
  } */
}

.banner {
  position: relative;
  text-align: center;
  color: #fff;
  background-image: url('/assets/banner.jpg'); /* Replace with your image URL */
  background-size: cover;
  background-position: center;
  padding: 200px 0;
}

.banner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  z-index: 0;
}

.banner-content {
  position: relative;
  z-index: 1;
}

.banner h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .banner {
    padding: 50px 0;
  }

  .banner h1 {
    font-size: 28px;
  }
}

.section {
  padding: 50px 5%;
}

.event-row {
  display: flex;
  flex-wrap: wrap;
  margin: -15px; /* To counteract negative margins on columns */
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

.event-column {
  flex-basis: calc(33.33% - 30px); /* Adjust based on desired gutter width */
  padding: 15px; /* space between columns */
  box-sizing: border-box;
  text-align: center;
}

.event-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.event-title {
  font-size: 18px;
  margin-bottom: 5px;
}

.event-location {
  color: #888;
  font-size: 14px;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .event-column {
    flex-basis: calc(50% - 20px);
  }
}

.video-section {
  text-align: center;
  width: 100%;
  margin-top: 30px;
  padding: 30px 5%;
}

.video-row {
  display: flex;
  flex-wrap: wrap;
  margin: -15px; /* To counteract negative margins on columns */
}

.video-column {
  flex-basis: calc(33.33% - 30px); /* Adjust based on desired gutter width */
  padding: 15px; /* Gutter between columns */
  box-sizing: border-box;
  text-align: center;
}

.video-iframe {
  width: 100%;
  height: 250px;
}

.video-caption {
  font-size: 16px;
  margin-top: 10px;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .video-column {
    flex-basis: calc(50% - 20px);
  }
}

.footer {
  background-color: #121212;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}




.matches-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.match-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

.match-image {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.match-location,
.match-time {
  margin-top: 10px;
  font-size: 14px;
  color: #555;
}

.book-ticket-button {
  margin-top: 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
}

.book-ticket-button:hover {
  background-color: #0056b3;
}

@media (max-width: 767px) {
  .matches-container {
    grid-template-columns: 1fr;
  }
}

.videos-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.video-card {
  position: relative;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.video-thumbnail {
  max-width: 100%;
  height: auto;
  display: block;
}

.video-title {
  padding: 10px;
  font-size: 16px;
  text-align: center;
}

.video-buttons {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.video-card:hover .video-buttons {
  opacity: 1;
}

.download-button,
.watch-button {
  background-color: #FF0000;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  margin: 5px;
  cursor: pointer;
}

.download-button:hover,
.watch-button:hover {
  background-color: #880f0a;
}

@media (max-width: 767px) {
  .videos-container {
    grid-template-columns: 1fr;
  }
}



.login-container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  text-align: center;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.login-heading {
  font-size: 24px;
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.input-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #0056b3;
}

@media (max-width: 767px) {
  .login-container {
    width: 80%;
  }
}

.register-container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  text-align: center;
  margin: auto;
  margin-top: 50px;
  ma
}

.register-heading {
  font-size: 24px;
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.input-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.register-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
}

.register-button:hover {
  background-color: #0056b3;
}

@media (max-width: 767px) {
  .register-container {
    width: 80%;
  }
}