body {
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 18px;
  background-color: #ddd;
  overflow-x: hidden; /* This hides horizontal scroll */
}



.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 10px 5%;
}

.logo {
  text-align: center;
}

.logo a {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
}

.menu-items {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.menu-item {
  margin-right: 20px;
}

.menu-item:last-child {
  margin-right: 0;
}

.menu-item a {
  color: #fff;
  text-decoration: none;
}

.buttons {
  display: flex;
  align-items: center;
}

.button {
  padding: 10px 20px;
  border: 1px solid;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.btn-login{
  background-color: red;
  border-color: red;
}

.btn-reg{
  margin-left: 20px;
  background-color: transparent;
  color: red;
  border-color: red;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .menu-items {
    display: none;
  }

  .button {
    display: none;
  }

  .logo {
    order: 2;
    flex-grow: 1;
  }

  /* .menu-items.mobile {
    display: block;
    background-color: #333;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .menu-items.mobile li {
    margin-bottom: 10px;
  } */
}

.banner {
  position: relative;
  text-align: center;
  color: #fff;
  background-image: url('/assets/banner.jpg'); /* Replace with your image URL */
  background-size: cover;
  background-position: center;
  padding: 200px 0;
}

.banner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  z-index: 0;
}

.banner-content {
  position: relative;
  z-index: 1;
}

.banner h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .banner {
    padding: 50px 0;
  }

  .banner h1 {
    font-size: 28px;
  }
}

.section {
  padding: 50px 5%;
}

.event-row {
  display: flex;
  flex-wrap: wrap;
  margin: -15px; /* To counteract negative margins on columns */
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

.event-column {
  flex-basis: calc(33.33% - 30px); /* Adjust based on desired gutter width */
  padding: 15px; /* space between columns */
  box-sizing: border-box;
  text-align: center;
}

.event-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.event-title {
  font-size: 18px;
  margin-bottom: 5px;
}

.event-location {
  color: #888;
  font-size: 14px;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .event-column {
    flex-basis: calc(50% - 20px);
  }
}

.video-section {
  text-align: center;
  width: 100%;
  margin-top: 30px;
  padding: 30px 5%;
}

.video-row {
  display: flex;
  flex-wrap: wrap;
  margin: -15px; /* To counteract negative margins on columns */
}

.video-column {
  flex-basis: calc(33.33% - 30px); /* Adjust based on desired gutter width */
  padding: 15px; /* Gutter between columns */
  box-sizing: border-box;
  text-align: center;
}

.video-iframe {
  width: 100%;
  height: 250px;
}

.video-caption {
  font-size: 16px;
  margin-top: 10px;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .video-column {
    flex-basis: calc(50% - 20px);
  }
}

.footer {
  background-color: #121212;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}


.match-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.match {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  background-color: #fff;
  text-align: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.match img {
  max-width: 100%;
  height: auto;
}

.match-info {
  margin-top: 10px;
}

.match-location,
.match-time {
  margin-bottom: 5px;
}

.book-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .match {
    width: calc(33.33% - 20px);
  }
}